<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107619412596-2qbglp30e4r1vnpse959vn382tuvos42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107619412596-2qbglp30e4r1vnpse959vn382tuvos42</string>
	<key>API_KEY</key>
	<string>AIzaSyAqTHw0DRX18NA0HJAu5MxCE6RcoDMHgJE</string>
	<key>GCM_SENDER_ID</key>
	<string>107619412596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.meetnow</string>
	<key>PROJECT_ID</key>
	<string>meetnow-shakthi-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>meetnow-shakthi-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107619412596:ios:50fd1975d9311a2e6cbf21</string>
</dict>
</plist>