<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865227576084-ncn3f1mkfca28sfuqtcbkvj5b10o5cm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865227576084-ncn3f1mkfca28sfuqtcbkvj5b10o5cm9</string>
	<key>API_KEY</key>
	<string>AIzaSyCSBkkow8q5oSo05O3UbNTGtFhC_5Sf5Kg</string>
	<key>GCM_SENDER_ID</key>
	<string>865227576084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.imeetnow</string>
	<key>PROJECT_ID</key>
	<string>imeetnow</string>
	<key>STORAGE_BUCKET</key>
	<string>imeetnow.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865227576084:ios:d4a921557ee14ca47e6801</string>
</dict>
</plist>